table {
  table-layout: fixed;
  border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    min-width: 50px;
    height: 50px;
}

button {
  width: 100%;
  height: 100%;
}

input, select, span {
  margin: 10px;
}
